@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --color-gold-light: #f3e8d7;
  --color-gold: #c3a375;
  --color-gold-dark: #917245;
  --color-coffee-light: #ece0d1;
  --color-coffee-medium: #dbc1ac;
  --color-coffee-dark: #967259;
  --color-coffee-deep: #634832;
  --color-coffee-black: #38220f;
  --color-luxury-black: #110d0a;
  --color-luxury-cream: #f4eae1;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-luxury-cream);
  color: var(--color-luxury-black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-luxury-cream);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gold);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold-dark);
}

/* Hide scrollbar for clean layout when loading */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
